// Useful mixins
@mixin visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $container-padding;
}
